@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

em {
  font-style: normal;
}

input,
button {
  outline: none;
  border: 0;
}

label {
  font-size: 12px;
  color: #828282;
}

input {
  flex: 1;
  padding: 10px;
  border: 0.5px solid #ccc;
  border-radius: 4px;
}

img {
  max-width: 100%;
  height: auto;
}
